<html>
<header>
<style>
    div.container {
       width: 50%;
       height: 200%;
       min-height: 100%;
       border: 5px #020202;
    
    footer {
       text-align: center;
    }

    nav {
       float: left;
       max-width: 400px;
       margin: 0;
       padding: 1em;
       margin-top: 30px;
       margin-bottom: 5px;   
    }
    
.py-8 {
}
.px-5 {
}
</style>
</header>

<body style="
margin-top: 40px;
margin-left: 40px;
margin-bottom: 40px;
margin-right: 40px;
">
<div class="container mx-auto">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css" rel="stylesheet">
        <script src="../src/fibo.js"></script> 
            <ul class="list-reset flex border-b">
                <li class="-mb-px mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-8 text-blue-dark font-semibold">Even Fibbonaci Number</a>
                </li>

                <li class="mr-1">
                     <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="prime-tailwind.html">Largest Prime Factor</a>
                </li>
            </ul>
    </head><br></br>
<nav>
    <article>
        <form>
            <div class="mb-5">
                <label class="block text-black-darker text-sm font-bold mb-7" for="number">
                    Number
                </label><br></br>
                <input class="shadow appearance-none border rounded w-full px-3 px-5 text-grey-darker" id="num" type="text" placeholder="Input some number" style=" height: 35px;">
            </div><br></br>
            <div class="flex items-center justify-between">
                <button class="bg-black hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="button" onclick="fibo()">
                    Calculate
                </button>
                </div><br></br>
                <p >
                  Please input a number, and press "Calculate" button to get the result.
                </p><br></br>
            <div class="mb-4">
                <label class="block text-black-darker text-sm font-bold mb-7" for="result">
                    Result
                </label>
                <input type="text" class="shadow appearance-none border rounded w-full  h-full px-3 px-5 text-grey-darker" id="result" placeholder="" style=" height: 124px;">
            </div>
        </form>   
    </article>
</nav>
</div>
</body>
</html>    